/* Default styles for extra small devices */
.historia1 {
  background-image: url('images/resized/3d8f-sant-albert-576x384.jpg');
}

.historia2 {
  background-image: url('images/resized/pd7fm-construccio-2022-576x384.jpg');
}

.uneixthi {
  background-image: url('images/resized/colla-all-576x384.jpg');
}

.welcome-image {
  background-image: url('images/resized/welcome-full-576x384.jpg');
}

.qui-som {
  background-image: url('images/resized/3d8f-cors-576x384.jpg');
}

.assaigos {
  background-image: url('images/resized/assaig-novembre-2022-576x384.jpg');
}

/* Small devices */
@media (min-width: 576px) {
  .historia1 {
    background-image: url('images/resized/3d8f-sant-albert-768x512.jpg');
  }

  .historia2 {
    background-image: url('images/resized/pd7fm-construccio-2022-768x512.jpg');
  }

  .uneixthi {
    background-image: url('images/resized/colla-all-768x512.jpg');
  }

  .welcome-image {
    background-image: url('images/resized/welcome-full-768x512.jpg');
  }

  .qui-som {
    background-image: url('images/resized/3d8f-cors-768x512.jpg');
  }

  .assaigos {
    background-image: url('images/resized/assaig-novembre-2022-768x512.jpg');
  }
}

/* Medium devices */
@media (min-width: 768px) {
  .historia1 {
    background-image: url('images/resized/3d8f-sant-albert-992x661.jpg');
  }

  .historia2 {
    background-image: url('images/resized/pd7fm-construccio-2022-992x661.jpg');
  }

  .uneixthi {
    background-image: url('images/resized/colla-all-992x661.jpg');
  }

  .welcome-image {
    background-image: url('images/resized/welcome-full-992x661.jpg');
  }

  .qui-som {
    background-image: url('images/resized/3d8f-cors-992x661.jpg');
  }

  .assaigos {
    background-image: url('images/resized/assaig-novembre-2022-992x661.jpg');
  }
}

/* Large devices */
@media (min-width: 992px) {
  .historia1 {
    background-image: url('images/resized/3d8f-sant-albert-1200x800.jpg');
  }

  .historia2 {
    background-image: url('images/resized/pd7fm-construccio-2022-1200x800.jpg');
  }

  .uneixthi {
    background-image: url('images/resized/colla-all-1200x800.jpg');
  }

  .welcome-image {
    background-image: url('images/resized/welcome-full-1200x800.jpg');
  }

  .qui-som {
    background-image: url('images/resized/3d8f-cors-1200x800.jpg');
  }

  .assaigos {
    background-image: url('images/resized/assaig-novembre-2022-1200x800.jpg');
  }
}

/* Extra large devices */
@media (min-width: 1200px) {
  .historia1 {
    background-image: url('images/resized/3d8f-sant-albert-1920x1280.jpg');
  }

  .historia2 {
    background-image: url('images/resized/pd7fm-construccio-2022-1920x1280.jpg');
  }

  .uneixthi {
    background-image: url('images/resized/colla-all-1920x1280.jpg');
  }

  .welcome-image {
    background-image: url('images/resized/welcome-full-1920x1280.jpg');
  }

  .qui-som {
    background-image: url('images/resized/3d8f-cors-1920x1280.jpg');
  }

  .assaigos {
    background-image: url('images/resized/assaig-novembre-2022-1920x1280.jpg');
  }
}
